.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em;
}

.wrapper {
  background: transparent;
  margin: auto;
  padding: 6rem 0rem 0rem 6rem;
  width: 80%;
}

/*img {
  margin: 1.8rem auto;
}*/

.publishDate {
  font: var(--italic-0);
}

.heading {
    font:  var(--heading-2);
    text-transform: uppercase;
    letter-spacing: 2rem;
    opacity: 0.9;
}

.blogBody {
  max-width: 90rem;
  margin: auto;
}

.blogBody p {
  font: var(--paragraph);
  line-height: 1.6;
}

.blogBody h4 {
  font-size: var(--text-2xl);
}

.blogBody img {
  margin: 1.8rem auto;
}

@media (min-width: 1281px) {
  .blogBody img {
    width: 100%;
  }

}
@media (max-width: 1280px) {
  .blogBody img {
    width: 100%;
  }
}

@media (max-width: 756px) {
  .wrapper {
      padding: 6rem 0rem 0rem 0rem;
  }
}