.wrapper {
    padding:6rem 0rem 0rem 6rem;
    width:  calc(100% - 12rem);
    overflow: hidden;
    position: relative;
}

.heading {
    font:  var(--heading-2);
    text-transform: uppercase;
    letter-spacing: 2rem;
    opacity: 0.9;
    margin-bottom: 9.5rem;
}

.name {
    font:  var(--heading-1);
    text-transform: uppercase;
    opacity: 0.6;

}
.aboutMeImage {
    height: auto;
    width: 30%;
    overflow: hidden;
    position: absolute;
    right: 5rem;
    z-index: 0;
}
.contactMe {
    display: flex;
    max-width: 800px;
    margin: 7.2rem 0;
    padding: 0.6rem 1.2rem;
}
.contactOption {
    margin-right: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #fdfdfd;
    padding: 8px;
    border-radius: 100%;
    height: 44px;
    width: 44px;
    min-height: 44px;
    min-width: 44px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
}
.contactMe svg {
    height: 80%;
    width: 80%;
}
.card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 240px;
    border: solid 1px #444444;
    margin: 16px 0;
    padding: 4rem;
    font: var(--paragraph);
}
.cardItem {
    font-weight: 600;
}

.details {
    position: relative;
    z-index: 0;
}

.details p {
    font: var(--paragraph);
}
.details ul {
    font: var(--paragraph);
    background: var(--black-fade-5);
    padding: 6rem;
}

.details li {
    margin-bottom: 0.8rem;
}

@media(max-width:  768px) {
    .wrapper {
        padding: 6rem 3rem;
        width: calc(100% - 6rem);
        position: relative;
    }
    .contactOption {
        margin-right: 2rem;
    }
    .contactMe {
        margin: 4.2rem 0;
    }
    .heading {
        margin-bottom: 4rem;
    }
    .name {
        opacity: 1;
        z-index: 2;
        position: relative;
    }
    .aboutMeImage {
        width: 60%;
        right: 0rem;
        opacity: 0.6;
    }
}