@font-face {
  font-family: 'PP Eiko';
  font-style: normal;
  src: url(/fonts/PPEiko-Thin.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'PP Eiko';
  font-style: normal;
  src: url(/fonts/PPEiko-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'PP Eiko';
  font-style: normal;
  src: url(/fonts/PPEiko-Heavy.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'PP Eiko';
  font-style: italic;
  src: url(/fonts/PPEiko-LightItalic.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'PP Eiko';
  font-style: italic;
  src: url(/fonts/PPEiko-BlackItalic.otf) format('opentype');
  font-weight: 500;
}

body {
  font-family: 'PP Eiko';
  font-size: 62.5%;
  line-height: 1.65;
  color: #424447;
  background: #fefefe;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}
p {
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.1px;
  font-weight: lighter;
  color: #333333;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }

  @media (max-width: 800px) {

  }
  @media(max-width: 570px) {

  }

  /* some simple animations for transition groups */

  .fade {
    opacity: 0.01;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity ease-in 0.2s;
  }

  .fade-leave {
    opacity: 1;
  }
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity ease-in 0.2s;
  }

::-webkit-scrollbar {
  width: 0rem;  /* Total width including `border-width` of scrollbar thumb */
  /* height: 0; */
}

::-webkit-scrollbar-track {
  /*background-color: #252525;*/
  background-color: transparent;
  border-right: 1.75em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  /* height: 1em; */
  border-right: 1.75em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  /*background-color: #9D9D9D;*/
  background-color: transparent;
  max-height: 20px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
  /* background: white; */
  /* width: 1rem; */
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}