.cNavigation {
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 15vw; */
  min-width: 200px;
  max-width: 200px;
  font-size: 1.25em;
}

.navigation {
  position: fixed;
  top: 32px;
}
.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.socialLinks svg {
  margin: 16px;
  cursor: pointer;
  color: #f17105;
}

.navTitle {
  margin: 0;
  margin-top: -32px;
  font-family: "Billion Dreams", "Noto Sans", "Avenir";
  font-size: 4rem;
  color: #6610f2;
  font-weight: normal;
}

.menu {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: block;
  align-items: center;
  margin: 16px;
}
.menuItem:hover {
  background-color: #eeeeee;
}

.menuItem a {
  font-size: 1rem;
  font-weight: 600;
  color: #d11149;
  text-decoration: none;
}

.mobileHamburger {
  display: none;
  height: 40px;
  width: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: pointer;
}
.cMobileMenu {
  position: fixed;
  z-index: 99;
  height: calc(100vh - 56px);
  width: 100vw;
  top: 56px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileMenu {
  padding: 0;
}
.mobileMenu .menuItem {
  margin: 32px;
  font-size: 1.6rem;
  text-align: center;
}
.mobileMenu .menuItem a {
  font-weight: 500;
  font-size: 100%;
}


@media (max-width: 750px) {
  .cNavigation {
    height: 56px;
    width: 100%;
    flex-direction: row;
    /* margin-bottom: 8px; */
    flex-grow: 1;
    max-width: none;
    padding: 0;
    overflow: hidden;
  }
  .navigation {
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 0 0 0 ;
    background: #fff;
  }
  .navTitle {
    margin: 0;
    transform: translate(0, -25%);
    margin-left: 16px;
    font-size: 3rem;
    padding: 0;
  }
  .socialLinks  {
    display: none;
  }
  .mobileHamburger {
    display: flex;
  }
  .mobileHamburger svg {
    height: 100%;
    width: 100%;
  }
  .menu {
    display: none;
  }
  
}
